
body{
    background-color: rgb(34, 34, 34);
    #columnas{
        margin: 20px;
    }
    .carousel-inner{
        h2{
            text-align: left;
            //margin-bottom: 10px;
            
        }
        p{
            text-align: justify;
            //margin-bottom: 20%;
            margin-right: 25%;
            font-size: 2vw;
        }
    }
    .full{
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        #accordionExample{
            width: 100%;
        }
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        img{
            width: 25%;
            float: left;
            margin-right: 20px;
        }
        p{
            margin: 20px;
            text-align: justify;
        }
        button{
            margin-left: 20px;
            
            
        }
        .col{
            border: white;
            padding: 5px;
            margin: 20px;
            background-color: white;
            border-radius: 5px;
            h3{
                text-align: center;
                color: #00518B;
                margin: 20px;
            }
        }
    }
    
    nav{
        img{
            margin-top: -40px;
            margin-bottom: -40px;
            width: 200px;
        }
    }
    img{
        width: 3080px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        
        div {
            background-color: rgb(255, 255, 255);
            font-size: 18px;
            margin: 15px;
            padding: 10px;
            width: 280px;
            h1{
                text-align: center;
                color: #00518B;
                text-decoration-line: underline;
            }
            p{
                text-align: justify;
            }
        }
    }
}