

body{
    background-color: rgb(34, 34, 34);
    nav{
        img{
            margin-top: -40px;
            margin-bottom: -40px;
            width: 200px;
        }
    }
    img{
        width: 3080px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        
        div {
            background-color: rgb(255, 255, 255);
            font-size: 18px;
            margin: 15px;
            padding: 10px;
            width: 280px;
            h1{
                text-align: center;
                color: #00518B;
                text-decoration-line: underline;
            }
            p{
                text-align: justify;
            }
        }
    }
    
}
   